@using AstroTech.DAL.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    string fullName = "";
    if (User.Identity?.IsAuthenticated ?? false)
    {
        var user = await UserManager.GetUserAsync(User);
        fullName = $"{user?.FirstName} {user?.LastName}";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AstroTech</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <span style="font-weight: bold; color: white;">
                                Hello, <span style="color: #D10024;">@fullName</span>!
                            </span>
                        }
                        else
                        {
                            <span style="font-weight: bold; color: white;">
                                Welcome! Please login to proceed.
                            </span>
                        }
                    </li>
                </ul>

                <ul class="header-links pull-right">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li><a asp-action="UpdateProfile" asp-controller="Account"><i class="fa fa-user-o"></i> My Account</a></li>
                        <li><a asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out"></i> Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li><a href="/Account/Register"><i class="fa fa-user-plus"></i> Register</a></li>
                    }
                </ul>
            </div>
        </div>

        </div>
        <div id="header">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center">
                            <img src="~/img/AstroTech.png" alt="AstroTech Logo" style="height: 170px;" />
                        </a>
                    </div>

                    <div class="col-md-6">
                        <div class="newsletter">
                            <form>
                                <input class="input" placeholder="Search here">
                                <button class="newsletter-btn"><i class="fa fa-search"></i> Search</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex justify-content-end align-items-center">
                        <div class="header-ctn d-flex">
                            <div class="mx-2">
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>

                            <div class="mx-2">
                                <a asp-controller="Shop" asp-action="Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty">3</div>
                                </a>
                            </div>

                            <div class="menu-toggle mx-2">
                                <a href="#"><i class="fa fa-bars"></i><span>Menu</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                @await Component.InvokeAsync("CategoryMenu")
            </div>
        </div>

    </nav>

    <div class="section">
        <div class="container">
            <div class="row">
                <main class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <div id="newsletter" class="section">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <footer id="footer">

        <div class="section">

            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a asp-controller="Shop" asp-action="Cart">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="bottom-footer" class="section">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">

                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/countdown.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>